[run]
source = app
omit =
    /usr/lib/python3/dist-packages/*
    */site-packages/*
    */dist-packages/*
    */tests/*
    */migrations/*
    */venv/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    pass
    if __name__ == .__main__.:

[html]
directory = htmlcov
