body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    transition: all 0.3s ease;
}
h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 90%;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.user-container, .place-container, .amenity-container, .review-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* Ajoute un espace entre les éléments */
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.create-user-container, .update-user-container, .delete-user-container,
.create-place-container, .update-place-container, .delete-place-container,
.create-amenity-container, .update-amenity-container, .delete-amenity-container {
    flex: 1;
    min-width: 300px; /* Définit une largeur minimale */
    max-width: 400px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 5px;
}
label {
    margin-bottom: 5px;
}
input, textarea, button {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
#create-user-message, #create-place-message, #create-amenity-message, #create-review-message {
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5px;
}
th, td {
    padding: 5px;
    border: 1px solid #ccc;
}
th {
    background-color: #f4f4f4;
}