# .gitignore
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.coverage
.coverage
.env

# Logs
logs/
../logs/
*.log
*.bak

# Base de données
instance/
*.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Virtual Environment
venv/
env/
ENV/

# Personal project to dig
facade_coverage_report/
*.pyc
.coverage
.pytest_cache/
old*.py
.vscode

# GEN-BADGE
# Reports et coverage
reports/*
!reports/coverage/coverage.xml
!reports/flake8/flake8stats.txt

# Badges
!badges/
badges/*
!badges/*.svg
